<div class="container">
        <h1 class="homeHeader" style="color: black; font-weight: bold"><u>Welcome to perFUNance!</u></h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">  
            <div class="item active">
              <img src="https://images.pexels.com/photos/7095/people-coffee-notes-tea.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="Los Angeles" style="width:100%;">
              <div class="carousel-caption">
                <h3>Create a interactive, rewarding, and attentive workforce!</h3>
              </div>
            </div>  
            <div class="item">
              <img src="https://images.pexels.com/photos/7357/startup-photos.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="Chicago" style="width:100%;">
              <div class="carousel-caption">
                <h3 class="blackText">Earn points and get rewards!</h3>
              </div>
            </div>      
            <div class="item">
              <img src="https://images.pexels.com/photos/159807/computer-apple-business-workplace-159807.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="New York" style="width:100%;">
              <div class="carousel-caption">
                <h3>Increase collaboration among employees!</h3>
              </div>
            </div>    
          </div>  
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br>
        <br>
        <h1 class= "homeHeader"><u>About</u></h1>
        <h3>Using gamification, HR executives and their teams can create a more interactive, rewarding and attentive workforce. It can help ward off worker malaise by leveraging intrinsic motivators to drive desirable employee behavior and improve efficiency.</h3>
         <h3>perFUNance is changing the way organizations of all sizes attract, retain, engage and monetize their customers & employees. Bringing together the best concepts from games, loyalty programs and behavioral economics, gamification is the art and science of designing for engagement.</h3>
         
         
      </div><!--container End-->
    